<div class="jumbotron bg-secondary" id="jumbotron">
<br><br>
  <%= form_for @appointment do |f| %>
    <div id="jumbo">
      <p class="display-6">
        <%= f.datetime_field :fixed_date %><br>
      </p>
      <p class="lead">
        <%= f.text_area :description, type: :text %><br>  
      </p>
      <p class="lead">
        <%= f.collection_select(:user_ids, User.doctors, :id, :full_name, prompt: "Select a Doctor") %><br><br>
      </p>
      <% unless @appointment.new_record? %>
      <p class="lead">
        <%= f.text_area :remark, type: :text %><br>  
      </p>
      <% end %>
      <hr class="my-4">
      <div>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
    
  </div>