
  <div class="jumbotron bg-white" id="jumbotron">
    <br>
    <h4><%= @appointment.users.pluck(:first_name, :last_name).flatten %></h4><br>
    
    <p class="lead">
      
      <%= @appointment.fixed_date %><br><br>
      <%= @appointment.description %>   |
    </p>
    <hr class="my-4">
    <div>
      <%= link_to "Edit", edit_appointment_path(@appointment), class: "btn btn-secondary" %>
      <%= link_to "Back", appointments_path, class: "btn btn-dark" %>
      <%= link_to "Destroy", appointment_path(@appointment), data: { turbo_method: :delete, turbo_confirm: "Are you sure"}, class: " btn btn-danger" %>
    </div>
  </div>